---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import Method from '../components/Method.astro';
import GreetingCard from '../components/GreetingCard.astro';
---

<Layout title="Репетитор по биологии, анатомии и т.д.">
	<Main>
		<div class="space-y-12">
			<GreetingCard />
			<Method />
		</div>
	</Main>
</Layout>