---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import Method from '../components/Method.astro';
import GreetingCard from '../components/GreetingCard.astro';
---

<Layout title="Репититор по биологии, анатомии и т.д.">
	<Main>
		<GreetingCard />
		<Method />
	</Main>
</Layout>