---
import { Icon } from "astro-icon/components";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import { db, Discipline } from 'astro:db';

const disciplines = await db.select().from(Discipline);
---

<Layout title="Обо мне | Репетитор по биологии, анатомии и т.д.">
    <Main>
        <H1 text="Прайс-лист занятий"/>
        <table class="border-separate border-spacing-1 rounded border border-primary-500 text-text-800 w-full max-w-4xl mx-auto max-vsm:text-sm font-semibold">
            <thead>
                <tr class="rounded-t-lg font-bold bg-primary-200">
                    <td class="border rounded border-secondary-300 px-3 py-1">Дисциплина</td>
                    <td class="border rounded border-secondary-300 px-3 py-1 text-center w-[180px] max-sm:w-fit">Цена (за 60 мин.)</td>
                </tr>
            </thead>
            <tbody>
                {disciplines.map(discipline =>
                    <tr class="bg-secondary-50">
                        <td class="border rounded border-secondary-300 px-3 py-1">{discipline.name}</td>
                        <td class="border rounded border-secondary-300 px-3 py-1">
                            <div class="flex justify-end items-center max-vsm:justify-center">
                                {discipline.priceOfHour}<Icon name="ruble" class="w-3 h-3"/>
                            </div>
                        </td>
                    </tr>
                )}
            </tbody>
        </table>
    </Main>
</Layout>