---
import { Icon } from 'astro-icon/components';
---

<footer class="bottom-0 bg-primary-500 rounded-t-2xl">
    <div class="px-24 pt-10 pb-2 max-sm:px-5 max-sm:pt-6 max-sm:pb-2 max-w-7xl mx-auto">
        <div class="flex justify-between">
            <ul class="flex items-center gap-3 text-background-50">
                <li class="font-semibold">Связаться</li>
            </ul>
            <ul class="flex items-center gap-3">
                <li>
                    <a href="https://www.instagram.com/" target="_blank">
                        <Icon name="instagram" title="Иконка инстаграма" width={24} height={24} class="text-background-50" />
                    </a>
                </li>
                <li>
                    <a href="https://facebook.com" target="_blank">
                        <Icon name="facebook" title="Иконка фейсбука" width={24} height={24} class="text-background-50" />
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank">
                        <Icon name="twitter" title="Иконка твиттера" width={24} height={24} class="text-background-50" />
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com" target="_blank">
                        <Icon name="linkedin" title="Иконка линкедина" width={24} height={24} class="text-background-50" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex flex-col items-center text-sm font-semibold text-background-50 max-sm:static max-sm:mt-2">
            <p>All rights reserved</p>
            <p>© CinemaAddict 2024</p>
        </div>
    </div>
</footer>