---
type Props = {
  text: string
}
const {text} = Astro.props;
---

<h1 class="bg-gradient-to-r from-primary-500 to-secondary-500 bg-clip-text text-transparent text-4xl max-sm:text-2xl font-bold mb-8 max-sm:mb-4 w-fit">{text}</h1>