<section >
    <ul class="flex flex-row justify-evenly gap-4">
        <li class="basis-2/8 border-2 rounded-md grid grid-rows-2 items-center py-4 gap-3">
            <div class="flex justify-center">
                <img src="/video.svg" width={60} height={60} class="object-cover" />
            </div>
            <div class="flex h-full items-start justify-center text-center">
                <h2>Занятия по видеосвязи</h2>
            </div>
        </li>
        <li class="basis-2/8 border-2 rounded-md grid grid-rows-2 items-center py-4 gap-3">
            <div class="flex justify-center">
                <img src="/calendar-days.svg" width={60} height={60} class="object-cover" />
            </div>
            <div class="flex h-full items-start justify-center text-center">
                <h2>Гибкий график занятий</h2>
            </div>
        </li>
        <li class="basis-2/8 border-2 rounded-md grid grid-rows-2 items-center py-4 gap-3">
            <div class="flex justify-center">
                <img src="/book-check.svg" width={60} height={60} class="object-cover" />
            </div>
            <div class="flex h-full items-start justify-center text-center">
                <h2>Пробные прорешивания экзаменов</h2>
            </div>
        </li>
    </ul>
</section>