---
import { getCollection } from "astro:content";

const homepage = await getCollection("homepage");
---

<section >
    <ul class="flex max-lg:flex-col flex-row justify-evenly gap-4">
        {homepage[0].data.methods.map((method)=>
            <li class="max-lg:flex max-vsm:flex-col max-vsm:items-center max-lg:flex-row max-lg:gap-x-5 block max-lg:max-w-none max-w-64 border-2 rounded-md p-4 max-lg:space-y-0 space-y-3">
                <div class="max-lg:w-12 max-lg:shrink-0 flex justify-center items-center">
                    <img src={method.icon} alt={method.alt} width={60} height={60}/>
                </div>
                <div class="max-lg:grow max-lg:text-start max-vsm:text-center grid grid-rows-[minmax(0,1fr)] text-center gap-y-1">
                    <h2 class="self-center font-bold">{method.title}</h2>
                    <p class="text-sm">{method.description}</p>
                </div>
            </li>)
        }
    </ul>
</section>