---
import BreadcrumbPath from "@/components/BreadcrumbPath";
import SlotList from "@/components/SlotList.astro";
import Layout from "@/layouts/Layout.astro";
import { eq } from "astro:db";
import { db, Slot, Calendar } from 'astro:db';

export const prerender = false;

let currentDay = '';
const { dayId } = Astro.params;

if (dayId) {
  const day = await db.select().from(Calendar).where(eq(Calendar.id, Number(dayId)));
  // currentDay = new Date(day).toLocaleDateString();
  console.log(day);
  
}

const paths = [
    {
        name: 'Главная',
        url: '/'
    },
    {
        name: 'Выбор даты',
        url: 'calendar'
    },
    {
        name: currentDay,
        url: '#'
    },
]

---

<Layout title="Обо мне | Репетитор по биологии, анатомии и т.д.">
    <section class="flex justify-center">
      <div class="grid">
          <BreadcrumbPath pathElements={paths} client:visible/>
          <h1>{currentDay}</h1>
          <SlotList currentDay={currentDay} />
        </div>
    </section>
</Layout>